/* You can add global styles to this file, and also import other style files */

body {
  background: rgb(216, 224, 222);
  background: -moz-radial-gradient(center, ellipse cover, rgba(216, 224, 222, 1) 0%, rgba(174, 191, 188, 1) 22%, rgba(153, 175, 171, 1) 33%, rgba(142, 166, 162, 1) 50%, rgba(130, 157, 152, 1) 59%, rgba(130, 157, 152, 1) 59%, rgba(78, 92, 90, 1) 82%, rgba(14, 14, 14, 1) 100%);
  background: -webkit-radial-gradient(center, ellipse cover, rgba(216, 224, 222, 1) 0%, rgba(174, 191, 188, 1) 22%, rgba(153, 175, 171, 1) 33%, rgba(142, 166, 162, 1) 50%, rgba(130, 157, 152, 1) 59%, rgba(130, 157, 152, 1) 59%, rgba(78, 92, 90, 1) 82%, rgba(14, 14, 14, 1) 100%);
  background: radial-gradient(ellipse at center, rgba(216, 224, 222, 1) 0%, rgba(174, 191, 188, 1) 22%, rgba(153, 175, 171, 1) 33%, rgba(142, 166, 162, 1) 50%, rgba(130, 157, 152, 1) 59%, rgba(130, 157, 152, 1) 59%, rgba(78, 92, 90, 1) 82%, rgba(14, 14, 14, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#d8e0de", endColorstr="#0e0e0e", GradientType=1);
}
